<!DOCTYPE html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Dashboard - SB Admin</title>

    <!-- Bootstrap core CSS -->
    <!-- link href="$filepath/css/bootstrap.css" rel="stylesheet">

    <!-- Add custom CSS here -->
    <link href="$filepath/css/sb-admin.css" rel="stylesheet">
    <!-- link rel="stylesheet" href="$filepath/font-awesome/css/font-awesome.min.css"-->
    <link rel="stylesheet" href="/font-elegant/style.css">
    <!-- Page Specific CSS -->
    <link rel="stylesheet" href="$filepath/css/morris-0.4.3.min.css">
</head>
<body>

    <ol>
        <li><a href="update"><i class="icon_pencil"></i> Update</a></li>
        <li>first</li>
        <li>second</li>
        <li>third</li>
    </ol>


</body>
